html
  head
    title= title

  body
    h1= message
    img(src='/files/image.jpeg', alt='', style='width: 300px; height: auto;')

    //- Input field and send button
    form#todo-form(action='?', method='POST')
      input#todo-input(type='text', name="title" maxlength='140', required, placeholder='Enter your todo')
      button(type='submit') Send

    //- List of todos
    ul
      each todo in todos
        li= todo.title


